#contact {
  cursor: default;
}
.contact_email_address {
  display: none;
}
.show_contents {
  display: block;
}
/* .student_information {
  display: none;
} */

.student_detail {
  text-decoration: none;  /* 寡占を失くす */
  color: black;  /* 文字の色が青くならないようにする */
}
