header, footer {
  background-color: #66a29a;
}

/* craftby就活.com */
.headertitle {
  display: flex;
  /* padding-right: 28%; */
  justify-content: center;
  padding: 10px;
}

.craft {
  font-size: 50px;
  font-weight: 550;
  color: white;
  margin-bottom: 0;
}

.craftby {
  color: white;
  font-size: 15px;
  margin-top: 25px;
  margin-bottom: 0;
}

.headertitle img {
  height: 20px;
  margin-top: 25px;
  margin-bottom: 0;
}

/* ナビゲーション */
.headernav ul {
  display: flex;
  list-style: none;
}

.headernav ul li {
  width: 33%;
  color: white;
  text-align: center;
  font-size: 20px;
}

/* FOOTERでーす！ */
footer img {
  text-align: center;
  align-items: center;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
}

@media screen and (min-width:1024px) {
  .headertitle {
    height: 115px;
  }

  .craft {
    font-size: 100px;
    font-weight: 550;
    color: white;
    margin: 0;
  }

  .craftby {
    color: white;
    font-size: 20px;
    margin-top: 90px;
    margin-bottom: 0;
  }
  
  .headertitle img {
    height: 30px;
    margin-top: 90px;
    margin-bottom: 0;
  }
  
  /* ナビゲーション */
  .headernav ul {
    display: flex;
    list-style: none;
  }
  
  .headernav ul li {
    width: 33%;
    color: white;
    text-align: center;
    font-size: 15px;
  }
  
  /* FOOTERでーす！ */
  footer img {
    text-align: center;
    align-items: center;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
  }
}